{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panoramic View</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="top-bar">
        <div class="top-bar-content">
            <!-- Placeholder text -->
            <div class="placeholder-text">Select a game</div>

            <!-- Game menu icons -->
            <div class="game-menu">
                                <img src="{% static 'images/icons/topbar-newvegas.png' %}" alt="New Vegas" class="game-image" data-game="newvegas">
                                <img src="{% static 'images/icons/topbar-fallout4.png' %}" alt="Fallout 4" class="game-image" data-game="fallout4">
                                <img src="{% static 'images/icons/topbar-dayz.png' %}" alt="DayZ" class="game-image" data-game="dayz">
            </div>

            <div class="user-links">
                 {% if user.is_authenticated %}
                    Welcome, {{ user.username }}!
                    <a href="{% url 'logout' %}" id="logout-link" title="Logout">
                        <i class="fas fa-right-from-bracket"></i>
                    </a>
                {% else %}
                    <a href="#" id="login-link" title="Login">
                        <i class="fas fa-right-to-bracket"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    {% include "modals.html" %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'js/modals.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>
